@model ChessAPI.Models.Side

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Side</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.FEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.FEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SideID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
